<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Divante\VsbridgeIndexerMsi\Model\ResourceModel\Product\Inventory">
        <plugin name="kodbruket_vsbridgeindexermsireservation_plugin_resourcemodel_product_inventory" type="Kodbruket\VsbridgeIndexerMsiReservation\Plugin\ResourceModel\Product\Inventory" />
    </type>
    <type name="Magento\InventoryReservations\Model\ResourceModel\SaveMultiple">
        <plugin name="kodbruket_vsbridgeindexermsireservation_plugin_resourcemodel_savemultiple" type="Kodbruket\VsbridgeIndexerMsiReservation\Plugin\ResourceModel\SaveMultiple" />
    </type>
</config>