<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Kodbruket_VsbridgeIndexerMsiReservation" setup_version="1.0.0">
    	<sequence>
            <Divante_VsbridgeIndexerMsi/>
        </sequence>
    </module>
</config>